audiocaps_data/
audiocaps_data/*/
coco_data/
ARC/
data/
data/**/
data/**/**
multimodal_dataset_refined/
multimodal_dataset_refined_v4/
crina_checkpoints/
crina_pretrain/
__pycache__/
tiny_shakespeare.txt
trace_*.json
trace.json
*.pth
*.pt
.env
runs/
cuda_lib/
test_script_3.py
wandb/
torch_compile_debug/
main.py
input.txt
crina_burn/target/
train_log.txt